.reasons
  .ui.grid.centered
    .five.wide.column.centered.row
      %h1.ui.header Earn extra income
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    .five.wide.column.centered.row
      %h1.ui.header Set your own schedule
      %p Vivamus nec sollicitudin sapien, ac blandit lorem. Donec congue dolor at ex ullamcorper, in euismod quam sagittis. 
    .five.wide.column.centered.row
      %h1.ui.header Become part of a community
      %p Nulla at augue in enim pellentesque porttitor sit amet quis est. Vivamus fringilla, ante quis rutrum feugiat.