%h1.centered Background Check
%p I hereby authorize Instacart to investigate my background and qualifications for purposes of evaluating whether I am qualified for the position for which I am applying.

%p I understand that Instacart will utilize an outside firm or firms to assist it in checking such information, and I specifically authorize such an investigation by information services and outside entities of the company's choice.

%p I also understand that I may withhold my permission and that in such a case, no investigation will be done, and my application for employment will not be processed further.

= render 'background_check_form'