%h1.ui.header.centered.green Thank you!
%p.ui.centered Your application has been successfully submitted.
= link_to 'Edit My Applicaiton', edit_applicant_path(@applicant), class: 'ui button huge green fluid'